<div ng-init="initImageModal()">
    <div class="modal-header">
        <h4 class="modal-title">{{procedure.name}}: Image Capture</h4>
    </div>
    <div style="margin: 5%;">
        <form ref='uploadForm' target="result" id='uploadForm' action='http://localhost:5000/uploadImage' method='post' encType="multipart/form-data">
            <input type="file" name="imgFile" accept="image/*" onchange="angular.element(this).scope().imageSelected(this)" id="file-input">
            <input type="text" name="procNumber" disabled  ng-model="procNumber">
            <input type="text" name="stepNumber" disabled  ng-model="selected_step.id">
            <md-button type='submit' class="md-raised pull-right" value='Upload!'>
                <i class="fas fa-upload"></i> Upload Image</md-button>
            <img ng-src="{{imgSrc}}" id="output" width="50%" height="50%">
            <iframe frameborder="1" style="height: 6rem;" name="result"></iframe>
        </form>
    </div>
</div>
<script>
    console.log('Image script loaded');
    const output = document.getElementById('output');
    const fileInput = document.getElementById('file-input');
    fileInput.addEventListener('change', (e) => doSomethingWithFiles(e.target.files));
    function doSomethingWithFiles(fileList) {
        let file = null;
        for (let i = 0; i < fileList.length; i++) {
            if (fileList[i].type.match(/^image\//)) {
                file = fileList[i];
                break;
            }
        }
        if (file !== null) {
            console.log('data:' + file);
            output.src = URL.createObjectURL(file);
        }
    }
</script>