<div ng-init="initVideoModal()">
    <div class="modal-header">
        <h4 class="modal-title">{{procedure.name}}: Video Capture</h4>
    </div>
    <div style="margin: 5%;">
        <form ref='uploadForm' target="result" id='uploadForm' action='http://localhost:5000/uploadVideo' method='post' encType="multipart/form-data">
            <input type="file" name="videoFile" accept="video/*" onchange="angular.element(this).scope().videoSelected(this)" capture="camera"
                id="recorder">
            <input type="text" name="procNumber" disabled hidden ng-model="procNumber">
            <input type="text" name="stepNumber" disabled hidden ng-model="selected_step.id">
            <md-button type='submit' class="md-raised pull-right" value='Upload!'>
                <i class="fas fa-upload"></i> Upload Video</md-button>
            <video ng-src="{{vidSrc}}" id="player" controls></video>
            <iframe frameborder="1" style="height: 6rem;" name="result"></iframe>
        </form>
    </div>
</div>
<script>
    console.log('Video script loaded');
    var recorder = document.getElementById('recorder');
    var player = document.getElementById('player');

    recorder.addEventListener('change', function (e) {
        var file = e.target.files[0];
        console.log('data:' + file);
        player.src = URL.createObjectURL(file);
    });
</script>