.my-container{
    margin: 0.9rem;
}

* {
    box-sizing: border-box;
}

head {
    background-color: #333A56;
}

/*This just stops me getting horizontal scrolling if anything overflows the width*/
body {
    overflow-x: hidden;
}

/*Just removing default browser padding/margin*/
html,
body {
    padding: 0;
    margin: 0;
    color: #000000;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/*Flexbox gives us the flexiness we need. The top just stays put as there is no scrolling on the body due to the page never exceeding viewport height*/
.Top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 224, 216);
    font-size: 3rem;
    position: relative;
    z-index: 10;
    height: 50px;
}

/*This is our main wrapping element, it's made 100vh high to ensure it is always the correct size and then moved into place and padded with negative margin and padding*/
.flex-Container {
    display: flex;
    overflow: hidden;
    height: calc(100vh - 50px);
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}
/*All the scrollable sections should overflow and be whatever height they need to be. As they are flex-items (due to being inside a flex container) they could be made to stretch full height at all times if needed.
WebKit inertia scrolling is being added here for any present/future devices that are able to make use of it.
*/
.Left,
.Right {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

/*Entirely optional – just wanted to remove the scrollbar on WebKit browsers as I find them ugly*/
.Left::-webkit-scrollbar,
.Right::-webkit-scrollbar {
    display: none;
}

/*  Left and Right are set sizes while the Middle is set to flex one so it occupies all remaining space. This could be set as a width too if prefereable, perhaps using calc.*/
.Left {
    width: 65%;
    background-color: rgb(255, 255, 255);
}

.Right {
    flex: 1;
}

table {
    font-family: arial, sans-serif;
    font-size: 1.5em;
    border-collapse: collapse;
    width: 100%;    
}

td, th {
    border: 1px solid #7e7e7e;
    text-align: justify;
    padding-left: 1px;
    padding-top: 5px;
}

th.steps {
    text-align: center;
}

td.sno {
    padding: 0.2rem 0.1rem;
    margin: 0.2rem;
    text-align: left;    
}

td.sno_index {
    padding: 0.2rem 0.1rem;
    margin: 0.2rem;
    text-align: justify;    
}

td.cnt {
     padding-left: 1rem;
    margin-left: 1rem;    
    text-align: left;
    padding-right:1rem;
    margin-right: 1rem; 
}

td.indented_in {
    padding-top: 1.5rem !important;
    margin-left: 1.5rem;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem;
    text-align: right;
}

td.indented_tx {
    text-align: justify;
    padding-top: 1.5rem !important;
    margin-left: 1.5rem;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem;
}

td.warn {
    border: 0.5px dotted #0f0f0f;
    padding: 0.5rem;
    text-align: left;
    background-color: #990000;
    color: #ffffff;
}

td.caution {
    border: 0.5px dotted #0f0f0f;
    padding: 0.5rem;
    text-align: left;
    background-color: #f4b350;
    color: #ffffff;
}

td.completed {
    /* border: 0.5px dotted #0f0f0f;
    padding: 0.5rem;
    margin-left: 1.5rem; */
    background-color: #838181 !important;
    color: #F7F5E6;
}

td.unmarkcompleted {
    background-color: #ffffff !important;
    color: #000000;
}

td.failed {
    /* border: 0.5px dotted #0f0f0f;
    padding: 0.5rem;
    margin-left: 1.5rem; */
    background-color: #cc6600 !important;
    color: #F7F5E6;
}

td.selected {
    background-color: #333A56;
    color: #F7F5E6;
}

tr.selected {
    border: solid 3px !important;
    border-color: #52658f !important;
}

tr.nxt_sel {
    border: solid 3px !important;
    border-color: #017e57 !important;
}

.back-button {
    float: left !important;
    left: 8 !important;
    position: absolute !important;
}

#round {
    border-radius: 50%;
}

div.white-space-pre-line {
    white-space: pre-line;
}

md-tab-item > i + strong {
    border-radius: 50%;
    padding: 0.1rem 0.7rem;
    position: relative;
    left: -0.8rem;
    top: -0.8rem;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: red !important;
    background-color:red !important;
}